#container0 {
    width: 90%;
    height: 300px;
    margin: auto;
}

#container {
    width: 90%;
    height: 90%;
    margin: auto;
}

#container1 {
    width: 90%;
    height: 200px;
    margin: auto;
}

#container2 {
    width: 90%;
    margin: auto;
}

.highcharts-exporting-group,
.highcharts-credits {
    display: none;
}

h2,
p {
    text-align: center;
    padding-left: 10px;
}

body {
    max-width: 400px;
    margin: auto;
    padding-bottom: 20px;
}
